
	body {
		background-color: #000000; <!--#00777B-->
	}
	h1 {
		color: #F3F8F6;
	}
	h2 {
		color: #F3F8F6;
	}
	h4 {
		color: #F3F8F6;<!--Can you hear me?-->
	}
	p {
		color: #F3F8F6;
	}
    
    
 li {
  float: left;
  background-color: #333333;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
