	* {
	margin: 0;
	padding: 0;
	}

	body {
		background-color: #00777B;
	}
	h1 {
		color: #F3F8F6;
	}
	h2 {
		color: #F3F8F6;
	}
	h4 {
		color: #F3F8F6;
	}
	p {
		color: #F3F8F6;
	}
    
	.nav_bar {
	float: left;
  	background-color: #333333;
	}

	.nav_bar a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 24px;
	  text-decoration: none;
	}
	
	.nav_ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333333;
	}




	.ttt_text{
		color: black;
	}

	.ttt_body {
		background-color: darkcyan;
		height: 100vh;
		font-family: 'Times New Roman', sans-serif;
		display: flex;
		justify-content: center;
		align-content: center;
	}

	.board {
		width: 320px;
		height: 320px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 2px;
		background-image: url(images/tic_tac_toe/grid.png);
		background-size: cover;
		border-radius: 3rem;
		box-shadow: 0 0 15px 5px rgba(50, 50, 50, 0.5);
		align-self: center;
	}

	.board:hover{
		cursor: pointer;
	}
	
	.ttt_button{
		align-self: baseline;
		width: 200px;
		height: 50px;
	}

	.circle {
		background-image: url(images/tic_tac_toe/o.png);
		background-size: 80%;
		background-position: center;
		background-repeat: no-repeat;
	}

	.cross {
		background-image: url(images/tic_tac_toe/x.png);
		
	}

	.circle,
	.cross {
		background-size: 80%;
		background-position: center;
		background-repeat: no-repeat;
	}


	.toh_body {
		background-color: #ffffff;
	}

	.toh_act {
		color: #000000;
		align-self: center;
	}
	.toh_act_one {
		color: #FF0000;
		align-self: center;
	}

	.toh_text {
		color: #000000;
		align-self: center;
	}
